<?php

namespace TeleBot\Config;

/**
 * This file contains all configurations related to this app instance
 *
 * 1. Token
 * 2. Authorization
 * 3. Restrictions
 */
return [

    /**
     * @param string $token property holding bot token
     */
    'token' => '',

    /**
     * @var array $authorization property holding authorization configuration
     */
    'authorization' => [
        'secret_token' => ''
    ],

    /**
     * @var array $restrictions property holding restrictions configuration
     */
    'restrictions' => [
        'whitelist' => [],
        'blacklist' => [],
    ],

];